{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Viewer with dFlip</title>
    
    <!-- dFlip CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'dflip/css/dflip.min.css' %}">
    
    <!-- jQuery -->
    <script src="{% static 'dflip/js/libs/jquery.min.js' %}"></script>
        
    <!-- dFlip JavaScript -->
    <script src="{% static 'dflip/js/dflip.min.js' %}"></script>
</head>
<body>
    <div class="container">
        <h1>PDF Viewer</h1>
        
        <!-- Dearflip container -->
        <div class="_df_book" data-option="dflipOptions" id="pdf-container"></div>
        <script>
            window.dflipOptions = {
                source: "{% static 'pdf/the-three-musketeers.pdf' %}"
                // for more options visit https://js.dearflip.com/docs
            }
        </script>
        <!-- Dearflip end -->
    </div>
</body>
</html> 